.title{
    font-size: 14px;
}
.pos{
    margin-bottom: 12px;
}
.bullet{
    display: "inline-block";
    margin:'0 2px';
}
.root{
    min-width: "275px";
}
.blocks {
    display: inline-block;
    width: 350px;
    margin-right: "2%";
}
.wrap{
    width:1700px;
}
.button{
   margin-left: 74%;
}